BODY {
  margin-top: 50px;
}

ul.nav li:hover {
  text-decoration: underline;
  color: blue
}

ul.nav .fa-check {
  color: lightgreen;
  width: 14px
}

ul.nav .fa-circle-o {
  color: #ddd;
  width: 14px
}

.header {
  border-bottom: solid blue 2px;
  margin-bottom: 3px;
  background-color: white;
}

.header .item {
  padding: 5px;
  border: solid #eee 1px;
}

.header .move {
  margin-right: 4px;
  padding-top: 3px;
  float: left;
  color: #ccc;
}

.house {
  border-bottom: solid 1px #ccc;
}

.house:hover {
  background-color: rgb(252, 255, 212)
}

.house .notes {
  cursor: pointer;
}

.house .notes.off {
  color: #ccc;
}

.house .notes.on {
  color: rgb(58, 221, 84);
}

.header .edit {
  float:left;
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
}

.header .togglevis {
  float: right;
  display:none;
  margin-top:2px;
  cursor: pointer;
}

.header .item {
  padding: 5px;
}

.header .item:hover .togglevis {
  color: red;
  display:inline;
}

.header .edit:hover {
  color: darkgreen;
  cursor: pointer;
  text-decoration: underline;

}

.header div:hover .move {
  color: darkgreen;
  cursor: pointer
}

.toggleicons {
  text-align: center;
  padding-top: 2px;
}

.toggleicons:hover {
  cursor: pointer
}

.toggleicons .no-selection {
  color: #eee
}

.toggleicons .fa-ban {
  color: red
}

.toggleicons .fa-smile-o {
  color: green;
  background-color: yellow;
}

.toggleicons .fa-eye {
  color: blue;
}

.title,
.values {
  padding: 2px 0
}

.title {
  margin-top: 8px;
}

.values input {
  width: 100%;
}
