.header {
  border-bottom: solid blue 2px;
  margin-bottom: 3px;
  padding-bottom: 3px;
}

.header .item {
  text-align: left;
  padding: 5px;
  margin-bottom: 3px;
}

.header .move,
.header .opts {
  margin-right: 4px;
  color: #ccc;
}

.header div:hover .move,
.header div:hover .opts {
  color: darkgreen;
  cursor: pointer
}

.field-editor-container {
  position: relative;
  float: left;
  width: 200px;
}

.field-editor {
  position: absolute;
  background-color: #EEE;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #CCC;
  border-radius: 3px;
  margin-left: -5px;
  margin-top: 5px;
  padding: 10px;
  z-index: 2;
}

.btn-xsmall {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  float: left;
}
