<html>
<head>
  <title>House listings</title>
  <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/underscore/underscore-min.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/jquery-ui/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/react/react.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/react/react-dom.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/react-bootstrap/react-bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bower_components/js-signals/dist/signals.min.js') }}"></script>

  <link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='listing.css') }}" rel="stylesheet" type="text/css">

</head>
<body>
  <div id="content"/>
  <script src="{{ url_for('static', filename='listing.js') }}"></script>

</body>
